h2 {
    color:#6960FF;
}

footer #site, footer #colabore, footer #nacional, footer #contato{
     float:left;
     text-align: center;

}
footer #site p, footer #colabore p, footer #nacional p, footer #contato p{
    color:white;

}

footer #site a, footer #colabore a, footer #nacional a, footer #contato a{
    color:#FFAB79;

}

footer{
    padding-top:3%; 
    padding-bottom: 2%;
}

.centralizar_container{
     margin: 0 auto;
}


.bg-dark {
    background-color: #35307F!important;
}

.btn-primary{
    background-color: #FFAB79!important;
    border-color: #FFAB79!important;
    
}

.icone_home{
    margin-left: 35%;
}


.margin_top_pequena{
        margin-top: 5%;
 }

.margin_bottom_pequena{
        margin-bottom: 5%;
 }

.imagem_topo{
    opacity: 0 !important;
}

.imagem_quemsomos{
        width: 80%;
        float: right;
}