/* Tiny Carousel */
#slider1 {
    margin: 30px 0 0;
    overflow: hidden;
    position: relative;
    padding: 0 171px 10px;
}

#slider1 .viewport {
    height: 125px;
    overflow: hidden;
    position: relative;
}

#slider1 .buttons {
    display: block;
    position: absolute;
    top: 19%;
    left: 0;
}

#slider1 .next {
    right: 0;
    left: auto;
}

#slider1 .buttons:hover {
    color: #C01313;
    background: #fff;
}

#slider1 .disable {
    visibility: hidden;
}

#slider1 .overview {
    list-style: none;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 240px;
    left: 0;
    top: 0;
}

#slider1 .overview li {
    float: left;
    margin: 0 20px 0 0;
    padding: 1px;
    height: 121px;
    border: 1px solid #dcdcdc;
    width: 236px;
 }
